
  .login {
    color: #0f172a;
    text-align: center;
  }
  .box {
  
    text-align: center;
  }
  .box1{
    margin: 0;
    position: absolute;
    top:35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .info{
    outline: none;
    color: #ddd;
    align-items: right;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=Password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button:hover{
    background-color: azure;
    color: #333;
  }
  button {
    background-color: #1d4ed8; 
    border: none;
    color: rgb(11, 10, 10);
    padding: 15px 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
  }
  