/*body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
*/

img{
  padding: 30px;
}
/*
.textbox {
  height: 500px;
  width: 500px;
  overflow: auto;
  display: flex;
  background-color: aquamarine;
  border-radius: 20px;
}*/
.textbox {
  font-family: cursive;
  font-size: 24px;
  border: 10px solid black;
  padding: 2rem 1rem;
  min-height: 10em;
  min-width: 15em;
  max-width: 20em;
  max-height: 15em;
  width: 60%;
  overflow: auto;
  background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  /*overflow-x: hidden;*/
  padding-top: 20px;
}
/* Control the left side */
.left {
  left: 0;
  background: rgb(255, 255, 255);
}

/* Control the right side */
.right {
  right: 0;
  background: rgb(255, 255, 255);
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}  

.svg_home {
  transform: scale(4.2);
  color: #fff;
}

.loader {
  background: transparent;
  width: 25px;
  height: 25px;
  border: 7px solid rgba(255, 255, 255, 0.3);
  border-left: 7px solid #000000;
  border-radius: 50%;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 10px;
  justify-content: center;
  line-height: 1em;
  max-width: 70%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 8px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 100px) {
  .button-64 {
    font-size: 14px;
    min-width: 100px;
  }
}